<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partecipanti al Torneo</title>
    <style>
        #participants {
            width: 100%;
            overflow-x: auto;
        }
    </style>
</head>
<body>
    <div id="participants"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function() {
            $.ajax({ url: 'api/teams/participants', method: 'GET' })
            .done(function(participantsResponse) {
                var participants = participantsResponse;

                var participantsList = '<ul>';
                for (var i = 0; i < participants.length; i++) {
                    participantsList += '<li>' + participants[i] + '</li>';
                }
                participantsList += '</ul>';

                $('#participants').html(participantsList);
            }).fail(function(error) {
                console.error("Errore nel recupero dei dati:", error);
            });
        });
    </script>
</body>
</html>